<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<form method="post">
    Team1: <input type="text" name="team1" ><br />
    Team2: <input type="text" name="team2" ><br />
    <input type="submit" value="计算"/><br />
    Win: <label type="text" name="win_team" value="None">None</label><br />
    Weight: <label type="text" name="weight" value="None">None</label>
</form>
</article>
</body>
</html>
