<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="../public/javascripts/jquery-2.2.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                alert("???");
            });
            $("input").click(function(){
                $.post("/bet", {
                    team1:"EG",
                    team2:"Ehome"
                }, function(data, status){
                    alert("????");
                });
            });
        });
    </script>
</head>
<body>
<button>向页面发送 HTTP GET 请求，然后获得返回的结果</button>
<form method="post">
    Team1: <input type="text" name="team1" ><br />
    Team2: <input type="text" name="team2" ><br />
    <input type="submit" id="send" value="计算" onclick=""/><br />
</form>
Win: <label type="text" id="win_team" value="None"></label><br />
Weight: <label type="text" id="weight" value="None"></label>
</article>
</body>
</html>
