<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        span p {
            margin: 0em 0em;
        }
    </style>
</head>
<body>
    <h1>输入选手信息</h1>
    <form method="post">
        <span><p>id: <input class="player" type="text" name="id"></p></span><br/>
        <span><p>level:<input class="player" type="text" name="team"></p></span><br/>
        <span><p>stability:<input class="player" type="text" name="stability"></p></span><br/>
        <span><p>role:<input class="player" type="text" name="role"></p></span><br/>
        <span><p>style:<input class="player" type="text" name="style"></p></span><br/>
        <span><p>isTopLeader:<input class="player" type="text" name="isTopLeader"></p></span><br/>
        <span><p>isTopFighter:<input class="player" type="text" name="isTopFighter"></p></span><br/>
        <input type="submit" value="保存">
    </form>
</body>
</html>