<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        span p {
            margin: 0em 0em;
        }
    </style>
</head>
<body>
<h1>输入战队信息</h1>
<form method="post">
    <span><p>name: <input class="team" type="text" name="id"></p></span><br/>
    <span><p>district: <input class="team" type="text" name="district"></p></span><br/>
    <span><p>level:<input class="team" type="text" name="team"></p></span><br/>
    <span><p>rank:<input class="team" type="text" name="rank"></p></span><br/>
    <span><p>stability:<input class="team" type="text" name="stability"></p></span><br/>
    <span><p>
        range: 上限:
        <input class="team" type="text" name="range_up">
        平均分:
        <input class="team" type="text" name="range_aver">
        下限:
        <input class="team" type="text" name="range_buttom">
    </p></span><br/>
    <span><p>topLeaders:<input class="team" type="text" name="topLeader"></p></span><br/>
    <span><p>topFighters:<input class="team" type="text" name="topFighter"></p></span><br/>
    <span><p>description:<input class="team" type="text" name="desc"></p></span><br/>
    <input type="submit" value="保存">
</form>
</body>
</html>
