<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" href="/">home</a></span>
    <span><a title="注册队员" href="/regPlayer">注册队员</a></span>
    <span><a title="注册战队" href="/regTeam">注册战队</a></span>
    <span><a title="预测比赛" href="/bet">预测比赛</a></span>
    <span><a title="testreg" href="/reg">reg</a></span>
</nav>

<article>
