<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<form method="post">
    playerID: <input type="text" name="playerID" placeholder="1111" value="<%= player.playerID %>"><br />
    team: <input type="text" name="team"><br />
    level: <input type="text" name="level"><br />
    stability: <input type="text" name="stability"><br />
    role: <input type="text" name="role"><br />
    style: <input type="text" name="style"><br />
    isTopLeader: <input type="text" name="isTopLeader"><br />
    isTopFighter: <input type="text" name="isTopFighter"/><br />
    <input type="submit" value="注册"/>
</form>
</article>
</body>
</html>
