<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<form method="post">
    id: <input type="text" name="id" value="0"><br />
    name: <input type="text" name="name" placeholder="vg"><br />
    player5:
    id: <input type="text" name="player5id">
    playerid: <input type="text" name="player5playerid">
    <br />
    player4:
    id: <input type="text" name="player4id">
    playerid: <input type="text" name="player4playerid">
    <br />
    player3:
    id: <input type="text" name="player3id">
    playerid: <input type="text" name="player3playerid">
    <br />
    player2:
    id: <input type="text" name="player2id">
    playerid: <input type="text" name="player2playerid">
    <br />
    player1:
    id: <input type="text" name="player1id">
    playerid: <input type="text" name="player1playerid">
    <br />
    region: <input type="text" name="region"><br />
    level: <input type="text" name="level"><br />
    ranking: <input type="text" name="ranking"><br />
    stability: <input type="text" name="stability"><br />
    style: <input type="text" name="style"><br />

    topFighters:<br/>
    id: <input type="text" name="topFighter1id">
    playerid: <input type="text" name="topFighter1playerid">
    <br />
    id: <input type="text" name="topFighter2id">
    playerid: <input type="text" name="topFighter2playerid">
    <br />
    id: <input type="text" name="topFighter3id">
    playerid: <input type="text" name="topFighter3playerid">
    <br />
    id: <input type="text" name="topFighter4id">
    playerid: <input type="text" name="topFighter4playerid">
    <br />

    topLeaders:<br/>
    id: <input type="text" name="topLeader1id"/>
    playerid: <input type="text" name="topLeader1playerid">
    <br />
    id: <input type="text" name="topLeader2id"/>
    playerid: <input type="text" name="topLeader2playerid">
    <br />
    <input type="submit" value="注册"/>
</form>
</article>
</body>
</html>
